@import "main.css";

/* GLOBAL STYLES */

/* Inne i root deklerares alla variabler*/
:root {
  /*En variabel deklareras med --[namn]:[värde];*/
  /* För att använda en variabel så skriver du som exempel: padding:var(--[namn])*/

  --header-height: 75px;
  --primary: pink;
  --secondary: palevioletred;
  --background: white;
}

body {
  font-family: Roboto Mono; /* funkar ej :( Det funkade, hade glömt stylesheet */
  padding: 0;
  margin: 0;
  background-color: var(--background);
  height: 100%;
  width: 100%;
  /**/
}

main {
  height: 400vh;
  margin: 0 400px;
  padding: 20px;
  background-color: White;
}

img {
  display: flex;
  /* max-width: 50%; */
  /* margin: 20px; */
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* create 3 columns with equals size*/

  padding: 20px 20px;
  background-color: var(--primary);
  color: white;
  align-items: center; /* vertical alignment, makes them align to center */

  /* flex-direction: column; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  height: var(--header-height);
  transition: 0.5s ease-out;
}

.header-up {
  transform: translateY(calc(-1 * 2 * var(--header-height)));
}

.art-showcase {
  background-color: white;
}

.hero {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.img-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: palevioletred;
}

.hero-img {
  height: 200px;
}

.img-link-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: palevioletred;
}

.header-img {
  height: 200px;
}

.nav {
  display: flex; /* makes the list align horisontally */
  color: papayawhip; /* colors the bullets of list */
  list-style: none; /* removes bullets */
  font-weight: bold;
}

.nav a {
  color: snow;
  text-decoration: none; /* Underline from link */
  display: block; /* why did we use this ?? */
  transition: all 0.3s ease-out;
  padding: 10px;
  background: #e4509f;

  text-transform: capitalize; /* Makes all words begin with a capital letter*/
}

.nav a:hover {
  color: navajowhite;
  background-color: lightpink;
  transform: scale(120%);
}

.nav li {
  margin-left: 20px;
  margin-right: 20px;
}

.logo-container {
  margin-left: 20px;
}
.logo-img {
  width: 50px;
  height: 50px;
}

.footer {
  background-color: var(--primary);
  padding: 20px 0;
  text-align: center; /* not using align-items because we only have text here. Only works on text. */
  font-size: 0.9rem;
  /**/
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: 0.5s ease-in;
}

.footer-down {
  position: fixed;
  bottom: 0;
  transform: translateY(calc(1 * 2 * 100px));
}

/* Containers! */

.container-left {
  padding: 10px;
}   

/* Global styles */

.flex-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

